<%= form_for(@bankcode,:html => {:class=>'form-horizontal m-t',:multipart => true}) do |f| %>
    <h3 class="header smaller lighter blue">

      <small></small>
    </h3>
    <div class="form-group">
      <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 银行编码 </label>
      <div class="col-sm-9">
        <%= f.text_field :bankcode,class:"col-xs-10 col-sm-5" %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 开户银行 </label>
      <div class="col-sm-9">
        <%= f.text_field :bank,class:"col-xs-10 col-sm-5" %>
      </div>
    </div>

    <div class="clearfix form-actions">
      <div class="col-md-offset-3 col-md-9">
        <button type="submit" name="commit" value="保存" class="btn btn-info" data-disable-with="保存" id="submit">
          <i class="icon-ok bigger-110"></i>
          保存
        </button>
        &nbsp;&nbsp;&nbsp;

        <a class="btn" href=<%= bankcodes_path %>>
          <i class="icon-undo bigger-110"></i>
          返回
        </a>
      </div>
    </div>
<% end %>